<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      
        <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/styles.css">

    <!-- BOOTSTRAP/JQUERY SCRIPTS -->
	<script
	src="https://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <!-- CUSTOMIZED SCRIPTS -->
    <script src="../scripts/app.js"></script>

	<title>Stacie's European Vacas</title>
</head>
<body>
	<header>
		<div class="jumbotron jumbotron-fluid">
  			<div class="container">
   				 <h1 class="display-4">Stacie's European Vacations</h1>
   				 <p class="lead">An app to track countries I've visited in Europe.</p>
		  	</div>
		</div>
	</header>
<!-- SEARCH FIELD START -->
 <section  class="container">
      <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <form id='place-form' class="form-horizontal">
          <fieldset>
<!-- SEARCH INPUT NAME -->
	<legend>Add a Country</legend>
			<!-- Text input -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="country">Country Name:</label>
              <div class="col-md-4">
              <input id="country" name="country" type="text" placeholder="" class="form-control input-md" required>
              </div>
            </div>

           <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="dateVisited">Dates Visited:</label>
              <div class="col-md-4">
              <input id="textinput" name="dateVisited" type="text" placeholder="" class="form-control input-md" required>
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="notes">Notes:</label>
              <div class="col-md-4">
              <input name="notes" type="text" class="form-control input-md">
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="photo">Photo:</label>
              <div class="col-md-4">
              <input name="photo" type="text" class="form-control input-md">
              </div>
            </div>
      
      		<!-- SUBMIT Button -->
            <div class="form-group">
              <label class="col-md-4 control-label" for="submitButton">Submit to Save Destination</label>
              <div class="col-md-4">
                <button id="submitButton" name="submitButton" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      </div>
<!-- SEARCH FIELD END -->
<!-- country fields populate here  -->
    <section class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2>Countries</h2>
        </div>
      </div>
      <!-- countries -->
		<div id=countries>
		</div>
	</section>
</body>
</html>







